.ContactUs{
    max-width: 400px;
    margin:0 auto;
    padding: 20px;
}

.formData{
    margin-bottom: 20px;   
}

label{
    display: block;
    font-weight: bold;
    font-style: italic;
}

input[type ="text"],
input[type ="email"],
input[type = "date"],
textarea{
    width: 100%;
    padding: 5px;
    border:none;
    border-bottom: 1px solid;
    background-color: transparent;
}

button{
    padding: 10px 20px;
    background-color: aquamarine;
    color: white;
    border: none;
    cursor:pointer;
}