.wrapper {
  margin-top: 100px;
}
.info {
  width: 1100px;
}

.author-container {
  max-width: 1000px;
  margin: 0 auto;
}
#lastAuthor {
  margin-bottom: 110px;
}
#SectionWrapper {
  display: flex;
  background-color: darkgray;
  padding: 80px;
  padding-bottom: 3px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
@media (min-width: 992px) {
  #SectionWrapper {
    gap: 50px;
  }
}
