nav{
    background-color: black;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navLogo{
    margin-left: 40px
}

.navLinks{
    display: flex;
    padding-bottom: 15px;
    margin-right: 40px;
    margin-left: 500px;
    gap: 70px;
}

footer p{
    text-align: center;
}